<div id="divDishPageAlert">  
  
</div><!--/row-->

<div class="box">
	<div class="box-header">
		<h2><i class="fa fa-th"></i><span class="break"></span>Danh sách món ăn</h2>
	</div>
	<div class="box-content">
		<ul class="nav tab-menu nav-tabs" id="myTab">
			<% _.each(categories, function (category) { %>
				<li><a href="ui-elements.html#cat-<%= category.id %>"><%= category.name  %></a></li>
			<% }) %>
		</ul>

		<div class="tab-content">
			<% _.each(categories, function (category) { %>
				<div class="tab-pane" id="cat-<%= category.id %>">
					<div class="row-fluid">
						<% _.each(dishes, function (dish) { %>
							<% if(dish.category.id == category.id) { %> 
								<div class="span3">
									<button id="btnDish<%= dish.id %>" onclick="cashierAddItem(<%= dish.id %>, '<%= dish.name %>', <%= dish.price %>)"><%= dish.name %></button>
								</div>
							<% } %>
						<% }) %>
					</div>					
				</div>
			<% }) %>
		</div>
	</div>
</div>

<div id="cashierMenuPage" class="row-fluid">
  	<h1>Các món đã chọn</h1>

	<div class="box span11">
		<div class="box-content">
			<table class="table">
			  	<thead>
				  	<tr>
					  	<th>Món</th>
					  	<th>Giá</th>
					  	<th>Số lượng</th>
					  	<th>Thành tiền</th>
				  	</tr>
			  	</thead>   
			  	<tbody id="cashierMenuPageTableBody">
	  		  		
			  	</tbody>
		  	</table>            
		</div>
		<div class="row-fluid device-list-footer">
		  <div class="device-list-footer-right">
		    
		  </div>
		</div>
	</div>
	
	
</div>
