<div id="divCashierOrderedPageAlert">  
  
</div><!--/row-->

<div class="row-fluid">
  	<h1>Các món đã đặt</h1>

	<div class="box span11">
		<div class="box-content">
			<table class="table">
			  	<thead>
				  	<tr>
				  		<th>Mã đơn hàng</th>
					  	<th>Món</th>
					  	<th>Trạng thái</th>
				  	</tr>
			  	</thead>   
			  	<tbody id="orderedItemTableBody">
	  		  		<% _.each(data, function (item) { %>
	  		  			<% _.each(item.sessionDetails, function (detail) { %>
		  		  			<tr class="session<%= item.id %>">
		  		  				<td>
		  		  					<%= item.id %>
		  		  				</td>
		  		  				<td>
		  		  					<%= dishes[detail.dish] %>
		  		  				</td>
		  		  				<td id="tdSessionDetail<%= detail.id %>">
		  		  					<% if(detail.status == 'added') { %>
										Đã chọn
									<% } else if(detail.status == 'cancelled') { %>
										Đã xóa
		  		  					<% } else if(detail.status == 'ordered') { %>
										Đã đặt								
									<% } else if(detail.status == 'removed') { %>
										Nhà bếp đã hủy
									<% } else if(detail.status == 'delivered') { %>
										Đã giao
		  		  					<% } else { %>
										<%= detail.status %>
									<% } %>
		  		  				</td>
		  		  			</tr>
	  		  			<% }) %>
	  		  		<% }) %>
			  	</tbody>
		  	</table>            
		</div>
	</div>
	
	
</div>