<div>
<div id="devicesPage" class="row-fluid">
  <h1>Devices</h1>  
</div>

<hr>


<div ng-controller="allDevicesController as allDevices">
  <div class="row-fluid">
    <label 
    class="{{ allDevices.devices[6].isSelected ? 'select-device' : '' }} span3 device-table  <% if(data[6].opening == true) { %> disabled-table <% } %>"  >
          <input hidden type="checkbox" ng-model="allDevices.devices[6].isSelected" name="chkSelectTable" id="table7" value="<%= data[6].id %>">       
          <% if(data[6].connecting) { %>
            <% if(data[6].opening) { %>
              <img class="device-status-img" src="/img/device-status/yellow.png">
            <% } else { %>
              <img class="device-status-img" src="/img/device-status/green.png">
            <% } %>
          <% } else { %>
            <img class="device-status-img" src="/img/device-status/black.png">
          <% } %>
          Bàn 7
    </label>

    <label 
    class="{{ allDevices.devices[4].isSelected ? 'select-device' : '' }} span3 device-table <% if(data[4].opening == true) { %> disabled-table <% } %>">
        <input hidden type="checkbox" ng-model="allDevices.devices[4].isSelected" name="chkSelectTable" id="table5" value="<%= data[4].id %>"> 
        <% if(data[4].connecting) { %>
          <% if(data[4].opening) { %>
            <img class="device-status-img" src="/img/device-status/yellow.png">
          <% } else { %>
            <img class="device-status-img" src="/img/device-status/green.png">
          <% } %>
        <% } else { %>
          <img class="device-status-img" src="/img/device-status/black.png">
        <% } %>
        Bàn 5
    </label>

    <label 
    class="{{ allDevices.devices[2].isSelected ? 'select-device' : '' }} span3 device-table <% if(data[2].opening == true) { %> disabled-table <% } %>">
        <input hidden type="checkbox" ng-model="allDevices.devices[2].isSelected" name="chkSelectTable" id="table3" value="<%= data[2].id %>">
        <% if(data[2].connecting) { %>
          <% if(data[2].opening) { %>
            <img class="device-status-img" src="/img/device-status/yellow.png">
          <% } else { %>
            <img class="device-status-img" src="/img/device-status/green.png">
          <% } %>
        <% } else { %>
          <img class="device-status-img" src="/img/device-status/black.png">
        <% } %>
        Bàn 3
    </label>

    <label 
    class="{{ allDevices.devices[0].isSelected ? 'select-device' : '' }} span3 device-table <% if(data[0].opening == true) { %> disabled-table <% } %>">
        <input hidden type="checkbox" ng-model="allDevices.devices[0].isSelected" name="chkSelectTable" id="table1" value="<%= data[0].id %>" >
        <% if(data[0].connecting) { %>
          <% if(data[0].opening) { %>
            <img class="device-status-img" src="/img/device-status/yellow.png">
          <% } else { %>
            <img class="device-status-img" src="/img/device-status/green.png">
          <% } %>
        <% } else { %>
          <img class="device-status-img" src="/img/device-status/black.png">
        <% } %>
        Bàn 1
    </label>
  </div>

  <div class="row-fluid">
    <label 
    class="{{ allDevices.devices[7].isSelected ? 'select-device' : '' }} span3 device-table <% if(data[7].opening == true) { %> disabled-table <% } %>">
        <input hidden type="checkbox" ng-model="allDevices.devices[7].isSelected" name="chkSelectTable" id="table8" value="<%= data[7].id %>" > 
        <% if(data[7].connecting) { %>
          <% if(data[7].opening) { %>
            <img class="device-status-img" src="/img/device-status/yellow.png">
          <% } else { %>
            <img class="device-status-img" src="/img/device-status/green.png">
          <% } %>
        <% } else { %>
          <img class="device-status-img" src="/img/device-status/black.png">
        <% } %>
        Bàn 8
    </label>

    <label 
    class="{{ allDevices.devices[5].isSelected ? 'select-device' : '' }} span3 device-table <% if(data[5].opening == true) { %> disabled-table <% } %>">
        <input hidden type="checkbox" ng-model="allDevices.devices[5].isSelected" name="chkSelectTable" id="table6" value="<%= data[5].id %>" > 
        <% if(data[5].connecting) { %>
          <% if(data[5].opening) { %>
            <img class="device-status-img" src="/img/device-status/yellow.png">
          <% } else { %>
            <img class="device-status-img" src="/img/device-status/green.png">
          <% } %>
        <% } else { %>
          <img class="device-status-img" src="/img/device-status/black.png">
        <% } %>
        Bàn 6
    </label>

    <label 
    class="{{ allDevices.devices[3].isSelected ? 'select-device' : '' }} span3 device-table <% if(data[3].opening == true) { %> disabled-table <% } %>">
        <input hidden type="checkbox" ng-model="allDevices.devices[3].isSelected" name="chkSelectTable" id="table4" value="<%= data[3].id %>"> 
        <% if(data[3].connecting) { %>
          <% if(data[3].opening) { %>
            <img class="device-status-img" src="/img/device-status/yellow.png">
          <% } else { %>
            <img class="device-status-img" src="/img/device-status/green.png">
          <% } %>
        <% } else { %>
          <img class="device-status-img" src="/img/device-status/black.png">
        <% } %>
        Bàn 4
    </label>

    <label 
    class="{{ allDevices.devices[1].isSelected ? 'select-device' : '' }} span3 device-table <% if(data[1].opening == true) { %> disabled-table <% } %>">
        <input hidden type="checkbox" ng-model="allDevices.devices[1].isSelected" name="chkSelectTable" id="table2" value="<%= data[1].id %>"> 
        <% if(data[1].connecting) { %>
          <% if(data[1].opening) { %>
            <img class="device-status-img" src="/img/device-status/yellow.png">
          <% } else { %>
            <img class="device-status-img" src="/img/device-status/green.png">
          <% } %>
        <% } else { %>
          <img class="device-status-img" src="/img/device-status/black.png">
        <% } %>
        Bàn 2
    </label>
  </div>

  <div class="row-fluid device-list-footer">
    <div class="device-list-footer-left">
      <button class="btn btn-danger" data-toggle="modal" data-target="#closeTableModal"
      >Đóng bàn</button>
    </div>
    <div class="device-list-footer-right">
      <button type="submit" class="btn btn-large btn-warning" data-toggle="modal" data-target="#mergeTableModal"
      ng-disabled="!allDevices.canMerge()">Ghép bàn</button>
      <button id="btnOpenTable" class="btn btn-large btn-success" data-toggle="modal" 
      ng-disabled="!allDevices.isAnyChecked()" >Mở bàn</button>
    </div>
  </div>

  <hr>

  <div class="row-fluid" id="divDeviceListAlert">  
    
  </div><!--/row-->

  <!-- <hr>

  <div class="row-fluid">
    <h1>Inactive devices</h1>
    <div id="divInactiveDevice"></div>
  </div>

  <hr>

  <div class="row-fluid">
    <h1>Unauthorised devices</h1>
    <div id="divUnauthorisedDevice"></div>
  </div> -->

  <merge-table-modal></merge-table-modal>



  <!-- Model Close Table -->
  <div class="modal hide fade" id="closeTableModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Đóng bàn</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <div class="controls" id="divOpenedTable">
          <% if(opened.length > 0) { %> 
            <% _.each(opened, function (obj) { %>
              <div>
                <label class="label-list {{ closeTableCheckbox<%= obj.session %> ? 'select-device' : ''}}">
                  <input type="radio" name="rdoOpenedTable" value="<%= obj.session %>"
                  ng-model="closeTableCheckbox<%= obj.session %>"> Bàn <%= obj.tables %>
                </label>              
              </div>
              
            <% }) %>
          <% } %>        
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="btnMergeAndOpenTable" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#confirmCloseTableModal">Đóng bàn</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
    </div>
  </div>
  <!-- End - Model Close Table -->

  <!-- Model Confirm Close Table -->
  <div class="modal hide fade" id="confirmCloseTableModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Lưu ý</h3>
    </div>
    <div class="modal-body">
      Bạn có chắc chắn muốn đóng bàn không?
    </div>
    <div class="modal-footer">
      <button id="btnConfirmCancelTable" class="btn btn-success" data-dismiss="modal">Đóng bàn</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
    </div>
  </div>
  <!-- End - Model Confirm Close Table -->
  </div>
</div>