<div id="devicesPage" class="row-fluid">
  <h1>Devices</h1>  
</div>

<hr>

<!-- <div class="row-fluid">
  <div id="divActiveDevice" class="controls">
    <% if(status == 1) { %> 
      <% _.each(data, function (obj) { %>
        <label class="checkbox inline">
          <input type="checkbox" name="chkSelectTable" id="table<%= obj.table %>" value="<%= obj.id %>"> Bàn <%= obj.table %>
        </label>
      <% }) %>
    <% } %>
  </div>
</div> -->

<div class="row-fluid">
  <div class="span3">
    <input type="checkbox" name="chkSelectTable" id="table7" value="<%= data[6].id %>"> 
    <% if(data[6].connecting) { %>
      <img class="device-status-img" src="/img/device-status/green.png">
    <% } else { %>
      <img class="device-status-img" src="/img/device-status/black.png">
    <% } %>
    Bàn 7
  </div>
  <div class="span3">
    <input type="checkbox" name="chkSelectTable" id="table5" value="<%= data[4].id %>"> 
    <% if(data[4].connecting) { %>
      <img class="device-status-img" src="/img/device-status/green.png">
    <% } else { %>
      <img class="device-status-img" src="/img/device-status/black.png">
    <% } %>
    Bàn 5
  </div>
  <div class="span3">
    <input type="checkbox" name="chkSelectTable" id="table3" value="<%= data[2].id %>"> 
    <% if(data[2].connecting) { %>
      <img class="device-status-img" src="/img/device-status/green.png">
    <% } else { %>
      <img class="device-status-img" src="/img/device-status/black.png">
    <% } %>
    Bàn 3
  </div>
  <div class="span3">
    <input type="checkbox" name="chkSelectTable" id="table1" value="<%= data[0].id %>"> 
    <% if(data[0].connecting) { %>
      <img class="device-status-img" src="/img/device-status/green.png">
    <% } else { %>
      <img class="device-status-img" src="/img/device-status/black.png">
    <% } %>
    Bàn 1
  </div>
</div>
<div class="row-fluid">
  <div class="span3">
    <input type="checkbox" name="chkSelectTable" id="table8" value="<%= data[7].id %>"> 
    <% if(data[7].connecting) { %>
      <img class="device-status-img" src="/img/device-status/green.png">
    <% } else { %>
      <img class="device-status-img" src="/img/device-status/black.png">
    <% } %>
    Bàn 8
  </div>
  <div class="span3">
    <input type="checkbox" name="chkSelectTable" id="table6" value="<%= data[5].id %>"> 
    <% if(data[5].connecting) { %>
      <img class="device-status-img" src="/img/device-status/green.png">
    <% } else { %>
      <img class="device-status-img" src="/img/device-status/black.png">
    <% } %>
    Bàn 6
  </div>
  <div class="span3">
    <input type="checkbox" name="chkSelectTable" id="table4" value="<%= data[3].id %>"> 
    <% if(data[3].connecting) { %>
      <img class="device-status-img" src="/img/device-status/green.png">
    <% } else { %>
      <img class="device-status-img" src="/img/device-status/black.png">
    <% } %>
    Bàn 4
  </div>
  <div class="span3">
    <input type="checkbox" name="chkSelectTable" id="table2" value="<%= data[1].id %>"> 
    <% if(data[1].connecting) { %>
      <img class="device-status-img" src="/img/device-status/green.png">
    <% } else { %>
      <img class="device-status-img" src="/img/device-status/black.png">
    <% } %>
    Bàn 2
  </div>
</div>

<button type="submit" class="btn btn-large btn-warning" data-toggle="modal" data-target="#mergeTableModal">Ghép bàn</button>
<button id="btnOpenTable" class="btn btn-large btn-success">Mở bàn</button>

<hr>

<div id="divDeviceListAlert">  
  
</div><!--/row-->

<!-- <hr>

<div class="row-fluid">
  <h1>Inactive devices</h1>
  <div id="divInactiveDevice"></div>
</div>

<hr>

<div class="row-fluid">
  <h1>Unauthorised devices</h1>
  <div id="divUnauthorisedDevice"></div>
</div> -->

<div class="modal fade" id="mergeTableModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Vui lòng chọn bàn để ghép</h4>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <div class="controls">
            <label class="radio">
              <input type="radio" name="rdoMergeTable" value="1">Bàn 1
            </label>
            <div style="clear:both"></div>
            <label class="radio">
              <input type="radio" name="rdoMergeTable" value="2">Bàn 2
            </label>
            <div style="clear:both"></div>
            <label class="radio">
              <input type="radio" name="rdoMergeTable" value="3">Bàn 3
            </label>
            <div style="clear:both"></div>
            <label class="radio">
              <input type="radio" name="rdoMergeTable" value="4">Bàn 4
            </label>
            <div style="clear:both"></div>
            <label class="radio">
              <input type="radio" name="rdoMergeTable" value="5">Bàn 5
            </label>
            <div style="clear:both"></div>
            <label class="radio">
              <input type="radio" name="rdoMergeTable" value="6">Bàn 7
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btnMergeAndOpenTable" class="btn btn-success">Ghép & Mở bàn</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->