<div>
<div id="devicesPage" class="row-fluid">
  <h1>Devices</h1>  
</div>

<hr>


<div ng-controller="allDevicesController as allDevices"
ng-init="allDevices.infos = <%= JSON.stringify(data) %>">

<div class="row-fluid" ng-repeat="info in allDevices.infos | filter: myFilter " ng-if="$index % allDevices.devicePerRow == 0">
    <label ng-repeat="index in [$index, $index+1, $index + 2, $index + 3]"
    class="text-align-center span3 device-table"
    ng-class="[
    {'disabled-table': allDevices.infos[$index + $parent.$index].opening},
    {'select-device': allDevices.devices[$index + $parent.$index].isSelected}]">
    <div class="child-container">
        
        <input hidden type="checkbox" 
        ng-model="allDevices.devices[$index + $parent.$index].isSelected" 
        name="chkSelectTable" id="{{allDevices.infos[$index + $parent.$index ].table}}" 
        value="{{allDevices.infos[$index + $parent.$index].id}}">
        
        <img class="device-status-img" ng-src="{{ allDevices.getDeviceImage(allDevices.infos[$index + $parent.$index]) }}">
        Bàn {{ allDevices.infos[$index + $parent.$index ].table }} | ID:{{ allDevices.infos[$index + $parent.$index].id}}
        </div>
    </label>
</div>
  
  <% if(deviceIp.type == "cashier" || deviceIp.type == "chief-cook") { %>
    <div class="row-fluid device-list-footer">
      <div class="device-list-footer-left">
        <button class="btn btn-danger" data-toggle="modal" data-target="#closeTableModal"
        >Đóng bàn</button>
      </div>
      <div class="device-list-footer-right">
        <button type="submit" class="btn btn-large btn-warning" data-toggle="modal" data-target="#mergeTableModal"
        ng-disabled="!allDevices.canMerge()">Ghép bàn</button>
        <button id="btnOpenTable" class="btn btn-large btn-success" data-toggle="modal" 
        ng-disabled="!allDevices.isAnyChecked()">Mở bàn</button>
      </div>
    </div>
  <% } %>

  

  <hr>

  <div class="row-fluid" id="divDeviceListAlert">  
    
  </div><!--/row-->

  <merge-table-modal></merge-table-modal>

  <!-- Model Close Table -->
  <div class="modal hide fade" id="closeTableModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Đóng bàn</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <div class="controls" id="divOpenedTable">
          <% if(opened.length > 0) { %> 
            <% _.each(opened, function (obj) { %>
              <div>
                <label class="label-list"
                ng-class="[
                {'select-device': closeTableCheckbox<%= obj.session %>}]">
                  <input hidden type="checkbox" name="rdoOpenedTable" value="<%= obj.session %>"
                  ng-model="closeTableCheckbox<%= obj.session %>"> Bàn <%= obj.tables %> {{closeTableCheckbox<%= obj.session %>}}
                </label>              
              </div>
              
            <% }) %>
          <% } %>        
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#confirmCloseTableModal">Đóng bàn</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
    </div>
  </div>
  <!-- End - Model Close Table -->

  <!-- Model Confirm Close Table -->
  <div class="modal hide fade" id="confirmCloseTableModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Lưu ý</h3>
    </div>
    <div class="modal-body">
      Bạn có chắc chắn muốn đóng bàn không?
    </div>
    <div class="modal-footer">
      <button id="btnConfirmCancelTable" class="btn btn-success" data-dismiss="modal">Đóng bàn</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
    </div>
  </div>
  <!-- End - Model Confirm Close Table -->
  </div>
</div>