<div id="divFastDeliveryPage">
	<div class="span12">
		<div class="span6">
			<h1>Khách</h1>
			<% _.each(devices, function (device) { %>
				<input id="table<%= device.table %>" type="radio" name="fast-delivery" class="big-radio-button" value="<%= device.table %>" />
				<label for="table<%= device.table %>" class="big-radio-button-label">Bàn <%= device.table %></label>
			<% }) %>
		</div>
		<div class="span6">
			<h1>Cashier</h1>
			<% _.each(cashiers, function (cashier) { %>
				<input id="table<%= cashier.device.table %>" type="radio" name="fast-delivery" class="big-radio-button" value="<%= cashier.device.table %>" />
				<label for="table<%= cashier.device.table %>" class="big-radio-button-label">Bàn <%= cashier.device.name %></label>
			<% }) %>
		</div>
	</div>
	<button onclick="fastDelivery()" class="btn btn-large btn-success">Giao</button>
</div>