<div id="overviewPage" class="row-fluid">
  	<h1>Bàn đang mở</h1>

	<div class="box span11">
		<div class="box-content">
			<table class="table">
			  	<thead>
				  	<tr>
					  	<th>Bàn</th>
					  	<th>Trạng thái</th>
					  	<th>Giờ mở bàn</th>
					  	<th>&nbsp;</th>
				  	</tr>
			  	</thead>   
			  	<tbody id="overviewOpenedTable">
	  		  		<% _.each(sessions, function (item) { %>
	  		  			<tr id="session<%= item.id %>" <% if(item.paymentStatus == 'checkout') { %> class="pending-checkout" <% } %>>
	  		  				<td>
	  		  					<a href="/ordered/detail/<%= item.id %>"><%= item.table %></a>
	  		  				</td>
	  		  				<td>
	  		  					<a class="<%= item.status %>-table" href="/ordered/detail/<%= item.id %>"><%= item.status %></a>
	  		  				</td>
	  		  				<td>
	  		  					<a href="/ordered/detail/<%= item.id %>">
	  		  						<%= moment(item.startTime).tz("Asia/Ho_Chi_Minh").format("DD/MM/YYYY hh:mm:ss a") %>
	  		  					</a>	  		  					
	  		  				</td>
	  		  				<td>
	  		  					<a class="btn btn-large btn-success" href="/ordered/detail/<%= item.id %>">Chi tiết</a>
	  		  				</td>
	  		  			</tr>
	  		  		<% }) %>
			  	</tbody>
		  	</table>            
		</div>
	</div>
	
	
</div>